fastapi==0.104.1
uvicorn[standard]==0.24.0
# pydantic==2.5.0
aiofiles==23.2.1
aiohttp==3.9.1
google-api-python-client==2.108.0
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1
msal==1.24.1
dropbox==11.36.2
boxsdk==3.9.2
python-multipart==0.0.6
python-dotenv==1.0.0
langchain
langchain-core
sentence-transformers
chromadb
langchain-huggingface
langchain-openai 
langchain-chroma 
langchain-community
pypdf
tiktoken